<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Gibeson Portfolio</title>
</head>

<body>
    <section class="main">
        <div class="container">
            <div id="box">
                <p>Hello, my name is Marcus Gibeson. Basic awesome introduction that I don't have the time to make right now.</p>
                <img src="" height="300" width="150" title="Marcus Gibeson, King of Java"/>
                

            </div>
        </div>
    </section>

</body>
</html>