<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Marcus Gibeson Portfolio</title>
</head>

<body>
    <section class="main">
        <div class="container">
            <div id="box">
                <p>This is the projects page</p>
                <div class="clearfix">
                    <div class="left-side-projects">
                        <p> Project 1</p>
                    </div>
                    <div class="right-side-projects">
                        <p>Project 2</p>
                    </div>
                    <div class="left-side-projects">
                        <p> Project 3</p>
                    </div>
                    <div class="right-side-projects">
                        <p>Project 4</p>
                    </div>
                    <div class="left-side-projects">
                        <p> Project 5</p>
                    </div>
                    <div class="right-side-projects">
                        <p>Project 6</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

</body>
</html>